<div class="row">
  <div class="col-md-4">
    <h3>Current Score: <%= @current_user.score %></h3>
  </div>
  <div class="col-md-4">
    <center><h2>Colors Game </h2></center>
  </div>
  <div class="col-md-4">
    <div class="home-button">
      <button type="button" name="button" class="btn"><a href="/">Home</a></button>
    </div>
  </div>
</div>

<div class="color_picture">
  <center><img src="../img/fish.png"></center>
</div>

<center><form action="/color3" method="post">
  <div class="radio-inline">
    <label>
      <input name="color" type="radio" value="orange">
      Orange
    </label>
  </div>

  <div class="radio-inline">
    <label>
      <input name="color" type="radio" value="purple">
      Purple
    </label>
  </div>

  <div class="radio-inline">
    <label>
      <input name="color" type="radio" value="yellow">
      Yellow
    </label>
  </div>
  <br><button type="submit" name="button" class="btn">Go!</button>
</form></center>
