<div class="home-button">
  <button type="button" name="button" class="btn"><a href="/">Home</a></button>
</div>

<h2>Colors Game </h2>
<h3>Current Score: <%= @current_user.score %></h3>

<div class="color_picture">
  <center><img src="../img/gator.png"></center>
</div>

<form action="/color2" method="post">
  <div class="radio">
    <label>
      <input name="color" type="radio" value="red">
      Red
    </label>
  </div>

  <div class="radio">
    <label>
      <input name="color" type="radio" value="blue">
      Blue
    </label>
  </div>

  <div class="radio">
    <label>
      <input name="color" type="radio" value="green">
      Green
    </label>
  </div>
  <button type="submit" name="button" class="btn">Go!</button>
</form>
