<div class="row">
  <div class="col-md-4">
    <h3>Current Score: <%= @current_user.score %></h3>
  </div>
  <div class="col-md-4">
    <center><h2>Colors Game </h2></center>
  </div>
  <div class="col-md-4">
    <div class="home-button">
      <button type="button" name="button" class="btn"><a href="/">Home</a></button>
    </div>
  </div>
</div>

<div class="color_picture">
  <center><img src="../img/fish.png"></center>
</div>

<center><h3>What color is the fish?</h3>
  <form action="/color3" method="post">
  <div class="radio-inline">
    <label>
      <input name="color" type="radio" value="pink" class="radio"><br><br>
      <div class="text">
        Pink
      </div>
    </label>
  </div>

  <div class="radio-inline">
    <label>
      <input name="color" type="radio" value="purple" class="radio"><br><br>
      <div class="text">
        Purple
      </div>
    </label>
  </div>

  <div class="radio-inline">
    <label>
      <input name="color" type="radio" value="yellow" class="radio"><br><br>
      <div class="text">
        Yellow
      </div>
    </label>
  </div>
  <br><button type="submit" name="button" class="btn">Go!</button>
</form></center>
