<div class="grats">
  <h2>Congratulations!</h2>
  <h3>Your score is: <%= @current_user.score %></h3>

  <button type="button" name="button" class="btn"><a href="/">Home</a></button><br><br><br>

  <img src="../img/grats.png" alt="">

</div>
