<center><h2>Oops, wrong answer. Go back to try again!</h2><br>
<button type="button" name="button" class="btn"><a href="javascript:history.back()">Back</a></button><br><br><br>
<img src="../img/sad.png"></center>
