
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Pangolin|Roboto" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
   <link rel="stylesheet" href="/css/styles.css">
   <title>Super Duper Game Center</title>
  </head>
  <body>
    <div class="jumbotron">
      <center><h1>Super Duper Game Center</h1></center>
      <% if @user %>

      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
