<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <meta charset="utf-8">
    <title>Kids App</title>
  </head>
  <body>
    <div class="container">

=======
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
   <link rel="stylesheet" href="/css/styles.css">
   <title>Super Duper Game Center</title>
  </head>
  <body>
    <div class="jumbotron">
      <center><h1>Super Duper Game Center</h1></center>
    </div>
    <div class="container">
      <%= yield %>
>>>>>>> 032b9b5f24a422ff4bac772578585988fcef4d2b
    </div>
  </body>
</html>
