<center><h1>Add a word that starts with "<%= @letter.name %>" </h1></center>


<h3>Words</h3>
<ul>
  <% @words.each do |word| %>
    <% if word.letter_id == @letter.id %>
      <li><%= word.name %></li>
    <% end %>
  <%end%>
</ul>

  <form class="form-group" action="/add-word" method="post">
    <input type="hidden" name="letter_id" value="<%= @letter.id%>">
    <label for="word">Add your word:</label>
    <input type="text" name="word" class="form-control"><br>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

<a href='/'>HOME</a>
