<div class="jumbotron">
  <h1>Learn your alphabets!</h1>
</div>

<form class="form-group" action="index.html" method="post">
  <h2><a href="/letter/<%=letter.id%>"><%=@letters.name%></a></h2>
</form>

<a href='/'>HOME</a>
