<center><h1>Learn the alphabet!</h1></center>

<ul>
   <% @letters.each do |letter| %>
    <a class="letters" href="/letters/<%=letter.id%>"><%=letter.name%></a>
    <% end %>
</ul>





<a href='/'>HOME</a>
