<div class="hauntedhouse">
  <button type="button" class="btn" style="float: right"><a href="/">Home</a></button>
  <center>
    <h1>Haunted House</h1>
    <h3>Find your way out!</h3><br>
    <img src="../img/hauntedhouse3.jpg" height="700px" width="900px" ><br><br><br>
    <button type="button" name="button" class="btn btn-default">  <a href="/maze2">Enter the house</a></button>
  </center>
</div>
