<div class="hauntedhouse_kitchen">
  <button type="button" class="btn" style="float: right"><a href="/">Home</a></button>
  <center>
    <h2>You've entered the kitchen!</h2>
    <br>
    <h4>You find yourself facing a ghost</h4>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <img src="/img/casper.png" height="350px" width="450px"><br><br><br><br><br>
    <button type="button" name="button" class="btn btn-default"><a href="javascript:history.back()">Go back to the living room</a></button>
    <button type="button" name="button" class="btn btn-default"><a href="/maze10">Run pass Casper and go out the door</a>
    </button>
  </center>
</div>
