<div class="hauntedhouse">
  <button type="button" class="btn" style="float: right"><a href="/">Home</a></button>
  <center>
    <h2>You're in a bedroom</h2>
    <h4>You're now in a room and you see a monster coming out of the closet!</h4>
    <br>
    <img src="/img/monsterroom.png" height="700px" width="900px"><br><br>
    <button type="button" name="button" class="btn btn-default"><a href="/maze1">Climb out of the window and run for safety</a></button>
    <button type="button" name="button" class="btn btn-default"><a href="javascript:history.back()">Turn Around</button>
  </center>
</div>
