<div class="hauntedhouse_westwing">
  <button type="button" class="btn" style="float: right"><a href="/">Home</a></button>
  <center>
    <h2>You're in the hallway of the westwing</h2>
    <h4>You're now in the hallway and Frankenstein is marching towards you!</h4>
    <br><br><br><br><br><br><br><br><br>
    <img id="spider" src="/img/spider.png" height="100px" style="margin-left: 350px"><br><br><br><br><br><br>
    <img src="/img/frankenstein.png" height="200px"><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <button type="button" name="button" class="btn btn-default"><a href="/maze7">Go to room on the left</a></button>
    <button type="button" name="button" class="btn btn-default"><a href="/maze8">Go to room on the right</a></button>
    <button type="button" name="button" class="btn btn-default"><a href="/maze9">Go to your right towards the Eastwing </a></button>
    <button type="button" name="button" class="btn btn-default"><a href="javascript:history.back()">Turn Around</button>
  </center>
</div>
