<div class="hauntedhouse">
  <center>
    <h2>You're now in the graveyard</h2>
    <h4>You ran out the kitchen back door and ended up in a graveyard</h4>
    <img src="/img/graveyard.jpg" height="700px" width="900px"><br><br>
    <button type="button" name="button" class="btn btn-default"><a href="javascript:history.back()">Fenced in! No where to run, turn around</button>
  </center>
</div>
