<div class="begin">
  <button type="button" name="button" class="btn home-button"><a href="/">Home</a></button>
  <center><h2>You've entered the dining room!</h2>
  <button type="button" name="button" class="btn btn-default"><a href="/maze6">Go upstairs</a></button>
  <button type="button" name="button" class="btn btn-default"><a href="/maze7">Go out the back door</a></button><br>
  <img src="../img/plate.png" alt="">
  </center>
</div>
