<div class="hauntedhouse">
  <center>
    <h2>You're in front of the stairway</h2>
    <img src="/img/stairway.jpeg" height="700px"><br><br>
    <button type="button" name="button" class="btn btn-default"><a href="/maze6">Go upstairs to the left</a></button>
    <button type="button" name="button" class="btn btn-default"><a href="/maze9">Go upstairs to the right</a></button>
    <button type="button" name="button" class="btn btn-default"><a href="javascript:history.back()">Turn Around</button>
  </center>
</div>
