<div class="hauntedhouse_masterroom">
  <center>
    <h2>You're in the master bedroom</h2>
    <h4>You're now in a room and you see the grim reaper staring right at you</h4>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <img src="/img/reaper.png" height="200px" width="175px">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <button type="button" name="button" class="btn btn-default"><a href="/maze1">Run through the bay door and climb down the balcony</a></button>
    <button type="button" name="button" class="btn btn-default"><a href="javascript:history.back()">Turn Around</button>
  </center>
</div>
