<div class="begin">
  <h2>You've entered the house!</h2>
  <button type="button" name="button" class="btn btn-default">  <a href="/maze3">Go to the Kitchen</a></button>

  <button type="button" name="button" class="btn btn-default"><a href="/maze2">Go to the Family Room</a></button>

</div>
