<div class="grats">
  <center><h2>Congratulations! You've made it through Casper's house!</h2>
  <button type="button" name="button" class="btn"><a href="/">Home</a></button><br><br><br>
  <img src="../img/grats.png" alt=""></center>
</div>
