<div class="begin">
  <center><h2>You've entered the kitchen!</h2>
  <button type="button" name="button" class="btn btn-default"><a href="/maze5">Go in the pantry</a>
  </button>
  <button type="button" name="button" class="btn btn-default"><a href="/maze4">Go in the dining room</a></button><br>
<img src="/img/whisk.png" alt=""></center>

</div>
