<div class="closet">
  <button type="button" name="button" class="btn home-button"><a href="/">Home</a></button>
  <center><h2>No hiding space here</h2>
  <button type="button" name="button" class="btn btn-default"><a href="/maze3">Go back</a></button><br>
  <img src="../img/sad.png" alt="">
  </center>
</div>
