<div class="hauntedhouse">
  <center>
    <h2>You're in the laboratory</h2>
    <h4>You'ved walked through the Eastwing and ended up in a laboratory. You see a dragon approaching you.</h4>
    <br>
    <img src="/img/laboratory.png" height="700px" width="900px">
    <br><br>
    <button type="button" name="button" class="btn btn-default"><a href="/maze4">Turn right and go down the stairs back to stairway</a></button>
    <button type="button" name="button" class="btn btn-default"><a href="javascript:history.back()">Turn Around</button>
    
  </center>
</div>
