<div class="hauntedhouse">
  <button type="button" class="btn" style="float: right"><a href="/">Home</a></button>
  <center>
    <h2>You are now in the living room.</h2>
    <img src="/img/livingroom.jpg" height="700px" width="900px"><br><br>
    <button type="button" name="button" class="btn btn-default"><a href="/maze4">Go right to stairway</a></button>
    <button type="button" name="button" class="btn btn-default"><a href="/maze3">Go left to kitchen</a></button>
    <button type="button" name="button" class="btn btn-default"><a href="/maze1">Go back and get out of the house</a></button>
</center>
</div>
