<div class="home-button">
  <button type="button" name="button" class="btn"><a href="/">Home</a></button>
</div>

<h1>Numbers Game</h1>
<h3>Current Score: <%= @current_user.score %></h3>

<div class="number_picture">
  <center><img src="../img/pandas.jpg"></center>
</div>

<form action="/number5" method="post">
  <div class="form-group">
    <label for="answer">How many pandas are there?</label>
    <input type="integer" name="answer" class="form-control">
  </div>
  <button type="submit" name="button" class="btn">Go!</button>
</form>
