<h1>Numbers Game</h1>

<div class="number_picture">
  <center><img src="../img/pig.jpg"></center>
</div>
<%= @result %>
<form action="/number1" method="post">
  <div class="form-group">
    <label for="answer">How many pigs are there?</label>
    <input type="integer" name="answer" class="form-control">
  </div>
  <button type="submit" name="button" class="btn">Go!</button>
</form>
