<center>
  <div class="book">
    <img src="/img/PigsWolf.png" >
    <p class="pagetext">Once upon a time their lived 3 little pigs, that loved to build houses. They also had a wolf as a neighbor that loved to whistle but has really bad breath.</p>
    <h1><a href="/page3">next page</a></h1>
  </div>
