<button type="button" name="button" class="btn"><a href="/">Home</a></button>
<div class="bookcontainer">
  <div class="row">
    <div class="col-md-4">
      <div class="book">
        <p class="pagetext">Once upon a time there lived 3 little pigs, that loves to build houses. They also had a wolf as a neighbor that loves to whistle but has really bad breath.</p>
      </div>
    </div>
    <div class="col-md-8">
      <img height="300" src="/img/PigsWolf.png" >
      <br>
      <button type="button" name="button" class="btn btn-danger"><a href="/page9">Back</a></button>
      <button type="button" name="button" class="btn btn-danger"><a href="/page3">Next Page</a></button>
    </div>
  </div>
</div>
