<button type="button" name="button" class="btn" style="float: right"><a href="/">Home</a></button>
<div class="bookcontainer" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-4">
      <p class="pagetext">One of the little piggy built his house out of straws.  He heard a knock knock on his door.  So he came out and saw the wolf standing outside.  He knew the wolf was a chatterbox and  just wanted to talk, but the little piggy was not trying to smell his bad breath all day.  So the little piggy slammed the door closed and hoped he would just go away.</p>
    </div>
    <div class="col-md-8">
      <img src="/img/wolf2.png"  height="190" >
      <img src="/img/2ndPig.png" height="190">
      <img src="/img/strawhouse.png" height="190">
      <br>
      <button type="button" name="button" class="btn btn-danger"><a href="/page2">Back</a></button>
      <button type="button" name="button" class="btn btn-danger"><a href="/page4">Next Page</a></button>
    </div>
  </div>
</div>
