
<div class="bookcontainer" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-4" >
      <p class="pagetext">The pigs slept nice all night but what will happen tomorrow when they have to leave the brick house? To be continued........</p>
    </div>
    <div class="col-md-8">
      <p class="pagetext">The End for now&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
      <br>
      <button type="button" name="button" class="btn btn-danger"><a href="/page10">Back</a></button>
      <button type="button" name="button" class="btn btn-danger"><a href="/">Home</a></button>
    </div>
  </div>
</div>
