<center>
  <div class="bookcontainer">
    <div class="col-md-6">
      <div class="book">
        <img src="/img/1stPig.png" height="250">
        <img src="/img/stickhouse.png" >
      </div>
    </div>
    <div class="col-md-6">
      <p class="pagetext">The second little piggy saw the other little piggy running towards his house.  The first little piggy said "run! run! run!".  They both ran into the second little piggies house.</p>
      <button type="button" name="button"><a href="/page7">next page</a></button>
    </div>
  </div>
</center>
