<center>
  <div class="book">
    <img src="/img/1stPig.png" >
    <img src="/img/stickhouse.png" >
    <p class="pagetext">The second little piggy saw the other little piggy running towards his house.  The first little piggy said "run! run! run!".  They both ran into the second little piggies house.</p>
    <h1><a href="/page8">next page</a></h1>
  </div>
</center>
