<center>
  <div class="book">
    <!-- <img src="../img/openbook4.png"  height="1200" width="1800"> -->
    <h1 class="page"><span>The 3 Little Pigs</span></h1>
    <img src="http://www.padhokhelo.com/wp-content/uploads/2015/11/Pigs-deciding-to-build-their-house.png" alt="">
    <h1><a href="/page2">Start Reading</a></h1>
  </div>
</center>
