<button type="button" name="button" class="btn" style="float: right"><a href="/">Home</a></button>
<div class="bookcontainer" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-4">
      <p class="pagetext">The wolf quickly caught up and began huffing and puffing at the stick house built by the second piggy</p>
    </div>
    <div class="col-md-8">
      <img src="/img/wolf2.png" height="250">
      <img src="/img/stickhouse.png" height="250">
      <br>
      <button type="button" name="button" class="btn btn-danger"><a href="/page6">Back</a></button>
      <button type="button" name="button"
      class="btn btn-danger"><a href="/page8">Next Page</a></button>
    </div>
  </div>
</div>
