<center>
  <div class="book">
    <img src="/img/wolf.png" >
    <img src="/img/breathe.png" >
    <img src="/img/strawhouse.png" >
    <p class="pagetext">The wolf got really mad and starting huffing and puffing trying to blow the little piggies house away. The little piggy inside said please stop! Your breath is killing me!</p>
    <h1><a href="/page6">next page</a></h1>
  </div>
</center>
