<center>
  <div class="book">
    <img src="/img/wolf2.png" >
    <img src="/img/strawhouse.png" >
    <p class="pagetext">The wolf thought the little piggy was really rude for slamming the door on him.  </p>
    <h1><a href="/page5">next page</a></h1>
  </div>
</center>
