<button type="button" name="button" class="btn"><a href="/">Home</a></button>
<div class="bookcontainer">
  <div class="row">
    <div class="col-md-4">
      <p class="pagetext">The third little piggy saw the other two little piggy running towards him yelling "run! run! run!".  They ran into the third little piggies brick house.</p>
    </div>
    <div class="col-md-8">
      <img src="/img/brickhouse.png" >
      <img src="/img/3rdPig.png" height="250">
      <br>
      <button type="button" name="button" class="btn btn-danger"><a href="/page8">Back</a></button>
      <button type="button" name="button" class="btn btn-danger"><a href="/page10">Next Page</a></button>
    </div>
  </div>
</div>
