<button type="button" name="button" class="btn"><a href="/">Home</a></button>
<div class="bookcontainer">
  <div class="row">
    <div class="col-md-4">
      <p class="pagetext">The wolf thought the little piggy was really rude for slamming the door on him. The wolf got really mad and starting huffing and puffing trying to blow the little piggies house away. The little piggy inside said please stop! Your breath is killing me!</p>
    </div>
    <div class="col-md-8">
      <img src="/img/wolf2.png" height="250">
      <img src="/img/strawhouse.png" >
      <br>
      <button type="button" name="button" class="btn btn-danger"><a href="/page3">Back</a></button>
      <button type="button" name="button" class="btn btn-danger"><a href="/page5">Next Page</a></button>
    </div>
  </div>
</div>
