<button type="button" name="button" class="btn"><a href="/">Home</a></button>


<center>
  <div class="bookcover">
    <h1 class="page"><span>The 3 Little Pigs</span></h1>
    <img id="pigs" src="http://www.padhokhelo.com/wp-content/uploads/2015/11/Pigs-deciding-to-build-their-house.png" height="500px">
  </div>
<h3><a href="/page2">Start Reading</a></h3>

</center>
