<button type="button" name="button" class="btn" style="float: right"><a href="/">Home</a></button>


<center>
  <div class="bookcover" width="1600px">
    <h1 class="page" style="margin-left: 300px">The 3 Little Pigs</h1>
    <img style="margin-left: 300px" id="pigs" src="http://www.padhokhelo.com/wp-content/uploads/2015/11/Pigs-deciding-to-build-their-house.png" height="500px">
  </div>
<h3><a href="/page2">Start Reading</a></h3>

</center>
