<div class="bookcontainer">
  <div class="row">
    <div class="col-md-6">
      <div class="book">
        <img height="300" src="/img/PigsWolf.png" >
      </div>
    </div>
    <div class="col-md-6">
      <p class="pagetext">Once upon a time their lived 3 little pigs, that loved to build houses. They also had a wolf as a neighbor that loved to whistle but has really bad breath.</p>
      <button type="button" name="button"><a href="/page3">next page</a></button>
    </div>
  </div>
</div>
