<center>
  <div class="book">
    <img src="/img/wolf.png" >
    <img src="/img/2ndPig.png" >
    <img src="/img/strawhouse.png" >
    <p class="pagetext">One of the little piggy built his house out of straws.  He heard a knock knock on his door.  So he came out and saw the wolf standing outside.  He knew the wolf was a chatterbox and  just wanted to talk, but the little piggy was not trying to smell his bad breath all day.  So the little piggy slammed the door closed and hoped he would just go away.</p>
    <h1><a href="/page4">next page</a></h1>
  </div>
</center>
