<center>
  <div class="book">
    <img src="/img/brokenstrawhouse.png" >
    <p class="pagetext">The little piggies house got blown away.  So the little piggy ran to one of the other little piggies house.</p>
    <h1><a href="/page7">next page</a></h1>
  </div>
</center>
