<div class="bookcontainer">
  <div class="row">
    <div class="col-md-6">
    <img src="/img/brokenstrawhouse.png" height="250">
    </div>
    <div class="col-md-6">
      <p class="pagetext">The little piggies house got blown away.  So the little piggy ran to one of the other little piggies house.</p>
      <button type="button" name="button"><a href="/page6">next page</a></button>
    </div>
  </div>
</div>
