<button type="button" name="button" class="btn" style="float: right"><a href="/">Home</a></button>
<div class="bookcontainer" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-4">
      <p class="pagetext">The little piggies house got blown away.  So the little piggy ran to one of the other little piggies house.</p>
    </div>
    <div class="col-md-8">
      <img src="/img/brokenstrawhouse.png" height="150">
      <br>
      <button type="button" name="button" class="btn btn-danger"><a href="/page4">Back</a></button>
      <button type="button" name="button" class="btn btn-danger"><a href="/page6">Next Page</a></button>
    </div>
  </div>
</div>
