<button type="button" name="button" class="btn"><a href="/">Home</a></button>


<center>
  <div class="book">
    <h1 class="page"><span>The 3 Little Pigs</span></h1>
    <img src="http://www.padhokhelo.com/wp-content/uploads/2015/11/Pigs-deciding-to-build-their-house.png" height="800px">
    <h1><a href="/page2">Start Reading</a></h1>
  </div>
</center>
