<button type="button" name="button" class="btn"><a href="/">Home</a></button>
<div class="bookcontainer">
  <div class="col-md-4">
    <div class="book">
      <p class="pagetext">The second little piggy saw the other little piggy running towards his house.  The first little piggy said "run! run! run!".  They both ran into the second little piggies house.</p>
    </div>
  </div>
  <div class="col-md-8">
    <img src="/img/1stPig.png" height="250">
    <img src="/img/stickhouse.png" >
    <br>
    <button type="button" name="button" class="btn btn-danger"><a href="/page5">Back</a></button>
    <button type="button" name="button" class="btn btn-danger"><a href="/page7">Next Page</a></button>
  </div>
</div>
