<button type="button" name="button" class="btn" style="float: right"><a href="/">Home</a></button>
<div class="bookcontainer" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-4">
      <p class="pagetext">The immediately rushes to the brick house and starts huffing and puffing.  This time he was huffing and puffing a lot longer then the last two houses.  He kept blowing at the brick house until he fell asleep.  The brick house could not be blown away.</p>
    </div>
    <div class="col-md-8">
      <img src="/img/wolf2.png" height="250">
      <img src="/img/brickhouse.png" >
      <br>
      <button type="button" name="button" class="btn btn-danger"><a href="/page9">Back</a></button>
    <button type="button" name="button" class="btn btn-danger"><a href="/page11">Next Page</a></button>
    </div>
  </div>
</div>
