.home-button {
  float: right;
}

.heading {
  margin-top: 30px;
}

form {
  max-width: 250px;
}

#bee {
  float: right;
}

#snail {
  margin-top: 10px;
}

#cow {
  float: right;
}

#book {
  float: right;
}

#bag {
  margin-top: 60px;
}
.well {
  background-color: rgb(247, 239, 185);
}

.border {
  background: url('/img/frame.png') no-repeat;
  background-size: 1200px 1000px;
  height: 1200px;
  width: 1200px;
  border-width: 5px;
  border-color: #3ce8ae;
}

.math {
  max-width: 900px;
}
.game {
  max-width: 45px;
}

.spelling {
  max-width: 75px;
}

.login {
  text-align: center;
  margin-left: 15%;
  margin-top: 9%;
}

.home {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.home-button {
  float: right;
}

ul {
  text-decoration: none;
}

p {
  font-size: 20px;
}

h2 {
  font-size: 40px;
}
.letters {
  padding: 5px;
  font-size: 170px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;

  color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(360deg);
    }
}

#banner {
  margin-top: 100px;
  font-size: 110px;
}

.banner {
  font-size: 200px;
}

.jumbotron {
  background: url('../img/banner.jpg') no-repeat;
  background-size: 100%;
  height: 400px;
  text-shadow: black 0.3em 0.3em 0.3em;
  color: white;
}

.jumbotron h1{
  font-size: 100px;
}

.grats {
  text-align: center;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  font-family: 'Pangolin', cursive;
}

h3 {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Pangolin', cursive;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #bff0ff;
  margin-bottom: 100px;
}

.numbers {
  margin-top: 80px;
  margin-bottom: 50px;
  font-family: 'Rock Salt', cursive;
  font-size: 60px;
}


.text {
  font-size: 20px;
}

.text2 {
  font-size: 17px;
}

.text3 {
  font-size: 15px;
}

label {
  font-size: 20px;
}

img {
  margin: 10px;
}

.radio {
  -webkit-appearance:button;
  -moz-appearance:button;
  appearance:button;
  border:4px solid #ccc;
  border-top-color:#bbb;
  border-left-color:#bbb;
  background:#fff;
  width:40px;
  height:40px;
  border-radius:50%;
}
.radio:checked{
  border:20px solid #4099ff;
}

.btn {
  background-color: white;
  color: black;
  font-size: 15px;
}

a {
  color: black;
}

.front {
  height: 200px;
  width: 300px;
}

.page {
  font-weight: bold;
  font-size: 100px;
}

.pagetext {
  margin-left: 259px;
  padding-top: 50px;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.bookcontainer {
  background: url('../img/openbook4.png') no-repeat;
  background-size: 1500px 900px;
  width: 1600px;
  height: 1500px;
  padding-top: 200px;
  text-align: center;
}

.bookcover {
  background: url('../img/bookcover.png') no-repeat;
  background-size: 1100px 1000px;
  width: 1600px;
  height: 1000px;
  padding-top: 80px;
  padding-right: 300px;
  text-align: center;
}

#pigs {
  margin-right: 180px;
}

.hauntedhouse {
  font-family: 'Pangolin', cursive;
}

.hauntedhouse_kitchen{
  font-family: 'Pangolin', cursive;
  background: url('/img/kitchen.jpeg') no-repeat;
  background-size: 900px 700px;
  background-position: center;
  height: 1000px;
  width: 1000px;
}

.hauntedhouse_westwing {
  font-family: 'Pangolin', cursive;
  background: url('/img/hallway2.png') no-repeat;
  background-size: 900px 700px;
  background-position: center;
  height: 1000px;
  width: 1000px;
}

.hauntedhouse_masterroom {
  font-family: 'Pangolin', cursive;
  background: url('/img/masterroom.jpg') no-repeat;
  background-size: 900px 700px;
  background-position: center;
  height: 1000px;
  width: 1000px;
}

img #spider {
  margin-left: 350px;
}
